In [18]:
from lxml import etree
import time,xlrd,sqlite3, pickle
#from bs4 import BeautifulSoup
from datetime import datetime
import selenium as se
from selenium import webdriver

In [4]:
ibook = xlrd.open_workbook("cairn17.xls", formatting_info=True)
isheet = ibook.sheet_by_index(0)

In [19]:
import requests
import bs4
from lxml import etree
from bs4 import BeautifulSoup

In [27]:
options = se.webdriver.ChromeOptions()
options.add_argument('headless')
driver=se.webdriver.Chrome(options=options)   
ibook = xlrd.open_workbook("cairn17.xls", formatting_info=True)
isheet = ibook.sheet_by_index(0)
for row in range(11):
    if (isheet.cell_value(row,5).lower()=='english'):
        link = isheet.hyperlink_map.get((row, 1))
        url = '(No URL)' if link is None else link.url_or_path        
        driver.get(url)            
        time.sleep(5)
        id_date=datetime.strftime(datetime.strptime(datex, '%d-%m-%Y'), '%Y-%m-%d')
        webpage=requests.get(url)
        soup=BeautifulSoup(webpage.content, 'html.parser')
        dom=etree.HTML(str(soup))
        id_date=dom.xpath('//*[@id="ctl00_ContentPlaceHolder1_lblNewsDate"]')[0].text

        if dom.xpath( '//*[@id="ctl00_ContentPlaceHolder1_lblJournalist"]'):
            print("Journalist:   "+'\t'+id_date+'\t'+ dom.xpath( '//*[@id="ctl00_ContentPlaceHolder1_lblJournalist"]')[0].text)
        elif  dom.xpath('//*[@id="ctl00_ContentPlaceHolder1_lblAgency"]'):
            print('Agency: '+'\t'+id_date+'\t'+dom.xpath('//*[@id="ctl00_ContentPlaceHolder1_lblAgency"]')[0].text)
        elif dom.xpath( '//*[@id="ctl00_ContentPlaceHolder1_lblAuthor"]'):
                    print('Author: '+'\t'+id_date +'\t'+dom.xpath('//*[@id="ctl00_ContentPlaceHolder1_lblAuthor"]')[0].text)
        else:
            print ("Nothing recorded")

Agency: 	01-01-2017	Bureau
Agency: 	02-01-2017	Bureau
Agency: 	02-01-2017	Bureau
Journalist:   	03-01-2017	 Rejesh Naidu
Journalist:   	03-01-2017	 Kunal Bose
Agency: 	03-01-2017	Bureau
Agency: 	04-01-2017	Bureau
Agency: 	04-01-2017	PTI
Agency: 	04-01-2017	PTI
Agency: 	04-01-2017	Bureau

In [16]:
ibook = xlrd.open_workbook("cairn17.xls", formatting_info=True)
isheet = ibook.sheet_by_index(0)
print(isheet.nrows)

100

In [22]:
url='http://mtrack.merryspiders.com/NewsDetailsPublished.aspx?NewsId=Kz14iYUqklsFJjwdoptEIw==&MediaType='

In [28]:
id_date

'04-01-2017'

In [29]:
print(datetime.strftime(datetime.strptime(id_date, '%d-%m-%Y'), '%Y-%m-%d'))

2017-01-04

In [33]:
#to create db
import sqlite3
with sqlite3.connect('cairndb.db') as con:
    cur=con.cursor()
    table="""CREATE TABLE "cairn_table" (
                "id" INTEGER PRIMARY KEY AUTOINCREMENT, -- rowid
                "date" TEXT,
                "publication" TEXT,
                "author" TEXT,
                "headline" TEXT,
                "items" TEXT                
            )
            """
    cur.execute(table)
    print ("created Cairn_table") 
con.close()

OperationalError: table "cairn_table" already exists

In [34]:
import xlrd

In [43]:
ibook = xlrd.open_workbook("cairn18.xls", formatting_info=True)
#for ix in range (7):
    #isheet = ibook.sheet_by_index(i
names= (ibook.sheet_names)
print (ibook.sheet_names())

['2018', '2021', '2015', '2017', '2016', '2019', '2020']

In [44]:
ibook = xlrd.open_workbook("cairn18.xls", formatting_info=True)
for ix in range (7):
    isheet = ibook.sheet_by_index(ix)
    print (isheet.name)

2018
2021
2015
2017
2016
2019
2020

In [46]:
import pandas as pd

In [54]:
df=pd.read_pickle('cairn.pkl')
df.head()

Empty DataFrame
Columns: [Date, publication, Author, Headline, Items]
Index: []

In [49]:
df.head()

Empty DataFrame
Columns: [Date, publication, Author, Headline, Items]
Index: []

In [55]:
from selenium.webdriver.common.by import By

In [56]:
6880

114.66666666666667

In [58]:
for iy in range(221):
    if iy%50==0:
        print(iy)

0
50
100
150
200

In [59]:
for ix in range(2,8):
    print(ix)

2
3
4
5
6
7

In [60]:
ibook = xlrd.open_workbook("cairn18.xls", formatting_info=True)
for ix in range(7):
    isheet = ibook.sheet_by_index(ix)
    print(isheet.name, 't', str(isheet.nrows))

2018 t 688
2021 t 2038
2015 t 3623
2017 t 1487
2016 t 2574
2019 t 651
2020 t 618

In [66]:
ibook = xlrd.open_workbook("cairn18.xls", formatting_info=True)
for ix in [3,4,5,6]:
    isheet = ibook.sheet_by_index(ix)
    print(isheet.name, '\t', str(isheet.nrows))

2017 	 1487
2016 	 2574
2019 	 651
2020 	 618

In [71]:
ibook = xlrd.open_workbook("cairn18.xls", formatting_info=True)
for ix in range(3,7):
    isheet = ibook.sheet_by_index(ix)
    print(isheet.name, '\t', str(isheet.nrows))

2017 	 1487
2016 	 2574
2019 	 651
2020 	 618